{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Departamentos(Geo)</title>
{% endblock title %}

{% block content %}
<div class="row justify-content-center">
	<div class="card col-md-6">
		<div class="card-body">
			<form method="post" action="{% url 'backend_add_departamentogeo' %}">
				{% csrf_token %}
				<img src="{% static 'dist/img/groups_icon.png' %}" class="offset-3" style="height: 220px; width:50%;">
				<br>
				<hr>	
 				<div class="form-group justify-content-center overflow-auto" style="height: 200px;">
 					{% for field in form %}
					
					{% if field.html_name != "apps_permissions" %}
					<div class="form-group">
						<div class="">
							{{ field.label_tag }}
						</div>
						<div class="">
							{{ field }}
						</div>
					</div>
					{% else %}
					<div class="form-group">
						<div class="">
							{{ field.label_tag }}
						</div>
						<div class="overflow-auto custom-checkbox border border-dark" style="border-radius: 5px;">
							{{ field }}
						</div>
					</div>
					{% endif %}
 					<br>
 					{% endfor %}
					<div class="form-group">
						<button class="form-control btn btn-lg btn-secondary btn-block" type="submit">Registrar</button>
					</div>
 				</div>	
				
			</form>
		</div>
	</div>
</div>
<script>

</script>
{% endblock content %}