{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block sidebar%}
{% endblock sidebar %}

{% block content %}
<div class="row justify-content-center">
	<div class="card">
		<div class="card-body">
			<form method="post" action="{% url 'backend_login' %}">
				{% csrf_token %}
				<img src="{% static 'dist/img/login_icon.png' %}" style="height: 220px; width:100%;">
				<br>
				<br>
 				
 				<div class="form-group justify-content-center">
 					{% for field in form %}
 					<div class="fieldWrapper">
 						<div class="">
 							{{ field.label_tag }}
 						</div>
 						<div class="">
 							{{ field }}
 						</div>
 					</div>
 					<br>
 					{% endfor %}
 				</div>



				<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}