{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Registro usuario</title>
{% endblock title %}

{% block content %}
<div class="row justify-content-center">
	<div class="card col-md-6">
		<div class="card-body">
			<form method="post" action="{% url 'backend_add_user' %}">
				{% csrf_token %}
				<img src="{% static 'dist/img/registration_icon.png' %}" class="offset-3" style="height: 220px; width:50%;">
				<br>
				<hr>
 				
 				<div class="justify-content-center overflow-auto" style="height: 500px;">
 					{% for field in form %}
					{% if field.html_name != "groups" %}
					<div class="form-group">
						<div class="">
							{{ field.label_tag }}
						</div>
						<div class="">
							{{ field }}
						</div>
					</div>
					<br>
					{% else %}
					<div class="form-group">
						<div class="">
							{{ field.label_tag }}
						</div>
						<div class="overflow-auto custom-checkbox border border-dark" style="
						height: 250px; border-radius: 5px;">
							{{ field }}
						</div>
					</div>
					<br>
					{% endif %}
 					
 					{% endfor %}
 				</div>
				{% for field in registration_form %}
				{% for error in field.errors %}
				<script type="text/javascript">
					Swal.fire({
					    title: '¡Ha ocurrido un error!',
					      text: '{{ error }}',
					       // icon: '{{ message.tags }}',
					      confirmButtonText: 'Aceptar'
					  });
				</script>
				{% endfor %}
				{% endfor %}

				{% if registration_form.non_field_errors %}
				<script type="text/javascript">
					Swal.fire({
					    title: '¡Ha ocurrido un error!',
					      text: '{{registration_form.non_field_errors}}',
					       // icon: '{{ message.tags }}',
					      confirmButtonText: 'Aceptar'
					  });
				</script>
				{% endif %}
				<div class="form-group">
					<button class="form-control btn btn-lg btn-secondary btn-block" type="submit">Registrar</button>
				</div>

			</form>
		</div>
	</div>
</div>
<script>
	$(".select")
</script>
{% endblock content %}