{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Listado usuarios</title>
{% endblock title %}

{% block content %}
<div class="">
	<div class="card">
        <div class="card-header">
            <h3 class="card-title">Listado usuarios</h3>
        </div>
        <div class="card-body table-responsive" style="">
            <table class="table table-bordered table-hover" id="table-users" style="">
                <thead class="table-dark">
                    <tr>
                        <td>#</td>
                        <td>Nombre(s)</td>
                        <td>Apellido(s)</td>
                        <td>e-mail</td>
                        <td>Staff</td>
                        <td>Admin</td>
                        <td>Super-usuario</td>
						<td>Fecha de registro</td>
						<td>Fecha de último ingreso</td>
						<td>Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            {% if user.is_staff %}
                            <!-- <input type="checkbox" class="" checked disabled> -->
                            <!-- <i class="fas fa-check-square"></i> -->
                            <!-- <i class="far fa-check-square"></i> -->
                            <i class="fas fa-check"></i>
                            {% else %}
                            <!-- <input type="checkbox" class="" disabled> -->
                            <i class="fas fa-times"></i>
                            <!-- <i class="fas fa-times-circle"></i> -->
                            <!-- <i class="far fa-times-circle"></i> -->
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_admin %}
                            <!-- <input type="checkbox" class="" checked disabled> -->
                            <!-- <i class="fas fa-check-square"></i> -->
                            <!-- <i class="far fa-check-square"></i> -->
                            <i class="fas fa-check"></i>
                            {% else %}
                            <!-- <input type="checkbox" class="" disabled> -->
                            <i class="fas fa-times"></i>
                            <!-- <i class="fas fa-times-circle"></i> -->
                            <!-- <i class="far fa-times-circle"></i> -->
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_superuser %}
                            <!-- <input type="checkbox" class="" checked disabled> -->
                            <!-- <i class="fas fa-check-square"></i> -->
                            <!-- <i class="far fa-check-square"></i> -->
                            <i class="fas fa-check"></i>
                            {% else %}
                            <!-- <input type="checkbox" class="" disabled> -->
                            <i class="fas fa-times"></i>
                            <!-- <i class="fas fa-times-circle"></i> -->
                            <!-- <i class="far fa-times-circle"></i> -->
                            {% endif %}
                        </td>
						<td>{{ user.date_joined }}</td>
						<td>{{ user.last_login }}</td>
						<td>
							<form action="{% url 'view_delete_single_user' user_id=user.id %}">
								<button class="btn btn-default form-control" type="submit"><i class="fas fa-user-times"></i></button>
								<!-- <i class="fas fa-minus-circle"></i> -->
                                <!-- <i class="fas fa-user-minus"></i> -->
							</form>
						</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#table-users").DataTable({
            language:{
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrar _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtered from _MAX_ total entries)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron coincidencias",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": Activar para ordenar columnas ascendentes",
                    "sortDescending": ": Activar para ordenar columnas descendientes"
                }
            }
        });
    });
</script>
{% endblock content %}