{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Eliminar suario</title>
{% endblock title %}

{% block content %}
<section class="hold-transition">
    <div class="login-logo">
        <b>DIDEDUC</b>HEHUE
    </div>
    <div class="row col-md-12">
        <div class="col-md-6">
            <div class="card card-secondary overflow-auto" style="height: 500;">
                <div class="card-header">
                    <h3 class="card-title">Eliminar usuario</h3>
                </div>
                <form action="{% url 'backend_delete_single_user' %}" method="post">
                    {% csrf_token %}
                    <div class="card-body login-card-body">
                        <div class="">
                            {% for field in form %}
                            <div class="form-group">
                                <div class="">
                                    {{ field.label_tag }}
                                </div>
                                <div class="">
                                    {{ field }}
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                            <button type="submit" class="btn btn-secondary">Eliminar usuario</button>
                            <hr>
                        </div>
                        <div class="overflow-auto custom-checkbox border border-dark" style="height: 200px; border-radius: 5px;">
                            <ul>
                                {% for u_group in user_groups %}
                                <li>
                                    <input type="checkbox" class="custom-checkbox" checked disabled>
                                    <label for="group-{{u_group.id}}"> {{u_group.name}} </label>
                                </li>
                                {% endfor %}
                                {% for group in groups %}
                                <li>
                                    <input type="checkbox" class="custom-checkbox" disabled> 
                                    <label for="group-{{group.id}}"> {{group.name}} </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static 'dist/img/registration_icon.png' %}">
        </div>
    </div>
    
</section>

{% endblock content %}